<div class="lotto-dot"></div>
<div class="lotto-dot"></div>
<div class="lotto-dot"></div>
<div class="lotto-dot"></div>
<div class="lotto-dot"></div>
<div class="lotto-dot"></div>
<div class="lotto-dot"></div>
<div class="lotto-dot"></div>
<div class="lotto-dot"></div>
<div class="lotto-dot"></div>
<div class="lotto-dot"></div>
<div class="lotto-dot"></div>
<div class="lotto-dot"></div>
<div class="lotto-dot"></div>
<div class="lotto-dot"></div>
<div class="lotto-dot"></div>
<div class="lotto-dot"></div>
<div class="lotto-dot"></div>
<div class="lotto-dot"></div>
<div class="lotto-dot"></div>
<div class="lotto-dot"></div>
<div class="lotto-dot"></div>
<div class="lotto-dot"></div>
<div class="lotto-dot"></div>
<div class="lotto-dot"></div>
<div class="lotto-dot"></div>
<div class="lotto-dot"></div>
<div class="lotto-dot"></div>
<div class="lotto-dot"></div>
