@import "styles/mixins";
@import "styles/props";

:host {
  @include flex(center, space-between);
  height: 60px;
}

// rank text
.lotto-rank {
  @include nanumGothic;
  font-size: 18px;
  font-weight: 900;
  color: $nero;
}

// count for each rank
.lotto-rank-count {
  @include nanumGothic;
  font-size: 18px;
  color: $dim-grey;
}
