@import "styles/mixins";
@import "styles/props";

:host {
  @include flex(stretch);
  width: calc(100% - 40px);
  max-width: 650px;
  box-shadow: 10px 10px 0 rgba($black, .16);
  overflow: hidden;
}

// main container
.lotto-container {
  width: calc(100% - 30px);
  background-color: $white;
}

// right bar
.lotto-bar {
  width: 30px;
  background-color: $illusion;
}
